<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% load static %}</title> <!--这是单行注释-->
    <!--添加标题-->
</head>
<body>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}"><!--添加标题-->

    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
       <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>