<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <style>
    .center {
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: auto;
    margin-right: auto;
    width: 60%;
    padding: 20px;
    border-color: black;
    background:	rgb(248,248,248,0.4);
    }
    p {font-size:25px;}
    </style>
</head>
<body>
<div class="center">
    <p>欢迎来到我们的健康监控网站！<br>
我们是一群（喜爱二刺猿）致力于提供全面健康监控解决方案的大学生团队。通过自主编写的健康数据统计工具，我们旨在帮助每个人提升生活质量和健康水平。
        感谢您选择使用我们的健康监控网站。如果您有任何问题、建议或反馈，我们的团队随时愿意为您提供帮助。
        <br>请随时与我们联系，Futuhengsheng@gmail.com 。
        <br>我们期待与您共同探索健康之路！

        <br>
祝您身体健康，生活愉快！
</p>
</div>
</body>
</html>