<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <style>
    .center {
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: auto;
    margin-right: auto;
    width: 60%;
    padding: 20px;
    border-color: black;
    background:	rgb(248,248,248,0.4);
    }
    </style>
</head>
<body>
<div class="center">
<form name="input" action="store" method="post">
    {% csrf_token %}
    <h2>记录你身体的每一次变化</h2>
    <p>收缩压(mmHg): <input type="text" name="td1"></p>
    <p>舒张压(mmHg): <input type="text" name="td2"></p>
    <p>空腹血糖(mg/dL): <input type="text" name="td3"></p>
    <p>每周运动时间(min): <input type="text" name="hd1"></p>
    <p>身高(m): <input type="text" name="hd2"></p>
    <p>体重(kg): <input type="text" name="hd3"></p>
    <p><input type="submit" value="Submit"></p>

</form>
</div>
</body>
</html>