<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .center {
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: auto;
    margin-right: auto;
    width: 60%;
    padding: 20px;
    border-color: black;
    background:	rgb(248,248,248,1);
    }
    </style>
</head>
<body>
  <div class='center'>
        <script>
        var data=[{% for yy in users%}{{yy}},{% endfor%}]



        var bmi=data[4];
        document.write("你的BMI为"+ String(bmi) + "<br>");
        var ideal_bmi=0;
        if(data[5]){
            ideal_bmi=22;
        }
        else{
            ideal_bmi=19;
        }
        var result = ""
        if(bmi < 18.5){
            result = "BMI值过低,建议适当增加饮食和运动。";
            document.write(result+"<br>"+"您的骨架可能比较轻，如果您不是运动员，建议多吃点好的，增肥一点点也无妨。");}
        else if(bmi < 25){
            result = "BMI值正常,继续保持良好的生活习惯。";
            document.write(result+"<br>"+"你简直太完美了，叫你一声健身达人不为过吧。");}
        else if(bmi < 30){
            result = "BMI值偏高,建议适当控制饮食并增加运动量。";
            document.write(result+"<br>"+"如果你继续这样下去，你的体重将会比你的薪水还要高。");}
        else if(bmi < 35){
            result = "BMI值较高,建议寻求医生的帮助并进行相应的减重治疗。";
            document.write(result+"<br>"+"你的脂肪比你的肌肉还要多。");}
        else if(bmi < 40){
            result = "BMI值很高,存在较高的健康风险,建议立即寻求医生的帮助。";
            document.write(result);}
        else{
            result = "BMI值过高,属于三类肥胖,存在极高的健康风险,建议立即寻求医生的帮助。";
            document.write(result);}

        </script>
  </div>
</body>
</html>
